<h1>Rescue Squad Directory</h1>
<style>
    table, th, td {
    border: 1px solid black;
    }
</style>
<div>
  <table>
    <tr>
        <th>Handle</th>
        <th>Service</th>
    </tr>
    <tr>
        <td>@phriendlyghost</td>
        <td>Tech Support, Resume/Recruiting Support</td>
    </tr>
    <tr>
        <td>@fluffhead67</td>
        <td>grief/general therapy</td>
    </tr>
    <tr>
        <td>@MikesMindOnline</td>
        <td>Resume/HR/Recruiting Support</td>
    </tr>
    <tr>
        <td>@harharbinks</td>
        <td>Criminal Defense</td>
    </tr>
    <tr>
        <td>@deadphishesq</td>
        <td>Contract/Estate/Real Estate</td>
    </tr>
    <tr>
        <td>@wolfenhaus</td>
        <td>Compliance/Finance</td>
    </tr>
    <tr>
        <td>@Bettercallshawn</td>
        <td>Family Law/Bankruptcy</td>
    </tr>
  </table>
</div>
