<h1>Rescue Squad Directory</h1>
<style>
    table, th, td {
        border: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<div>
  <table>
    <tr>
        <th>Handle</th>
        <th>Service</th>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@phriendlyghost"> @phriendlyghost</a></td>
        <td>Tech Support, Resume/Recruiting Support</td>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@fluffhead67"> @fluffhead67</a></td>
        <td>grief/general therapy</td>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@MikesMindOnline"> @MikesMindOnline</a></td>
        <td>Resume/HR/Recruiting Support</td>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@harharbinks"> @harharbinks</a></td>
        <td>Criminal Defense</td>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@deadphishesq"> @deadphishesq</a></td>
        <td>Contract/Estate/Real Estate</td>
    </tr>
    <tr>
        <td><a href="http://twitter.com/@wolfenhaus"> @wolfenhaus</a></td>
        <td>Compliance/Finance</td>
    </tr>
    <tr>
        <td><a href="twitter.com/bettercallshawn"> @Bettercallshawn</a></td>
        <td>Family Law/Bankruptcy</td>
    </tr>
    <tr>
        <td><a href="twitter.com/@themomadancer">@themomadancer</a></td>
        <td>Education - Math</td>
    </tr>
    <tr>
        <td><a href="twitter.com/@Lacosmicllama">@Lacosmicllama</a></td>
        <td>Social Work/Psychology</td>
    </tr>
    <tr>
        <td><a href="twitter.com/@MylesH1gh">@MylesH1gh</a></td>
        <td>Boots on the ground delivery in Denver</td>
    </tr>
    <tr>
        <td><a href="twitter.com/@SeeDubsPhish ">@SeeDubsPhish</a></td>
        <td>Letter Writer - Birthday / Grieving</td>
    </tr>
  </table>
</div>
